[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"

[packages]
django = "==2.2.10"
djangorestframework = "==3.9.4"
django-filter = "==2.1.0"
psycopg2-binary = "==2.8.2"
drf-yasg = "==1.16.0"
markdown = "==3.1.1"
pyyaml = "==5.1.1 "
coverage = "==4.5.3"
numpy = "==1.16.4"
django-environ = "==0.4.5"

[requires]
python_version = "3.7"
